<mat-card class="video-card">
	<mat-card-header>
		<div mat-card-avatar class="video-header-image"></div>
		<mat-card-title>{{video.snippet.title}}</mat-card-title>
	</mat-card-header>
	<img mat-card-image src={{video.snippet.thumbnails.high.url}} alt={{video.snippet.title}}>
	<mat-card-content>
		<p>
			{{video.snippet.description}}
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="openDialog()">Play</button>
		<button mat-button>Add to playList</button>
	</mat-card-actions>
</mat-card>
